@import '../token.scss';

.replace-list {
    margin: 0;
    padding: 0;
    width: 400px;
    border: 1px solid $color-border;
    border-bottom: 0;
    li {
        list-style: none;
        padding: 4px;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid $color-border;
        border-width: 1px 0 1px;
        background-color: $color-bg;
        margin-top: -1px;
        cursor: move;
        will-change: background;
        transition: background 0.2s;
    }

    .drag-over {
        background-color: $color-bg-active;
    }
}
