@import '../token.scss';

.switch {
    width: 40px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid $color-border;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s, background 0.5s;
    &.on {
        color: lighten(#cc163a, 40);
        background-color: #cc163a;
    }
    &.off {
        color: lighten(#69a794, 40);
        background-color: #69a794;
    }
}
