/* SCSS HEX */
$color-dark: #67597a;
$color-primary: #544e61;
$color-light: #6e8894;
$color-tiny: #85baa1;
$color-active: #ceeddb;
$color-secondary: #fbfbfb;
$color-highlight: #edd4b2;
$color-bg: #ecdcc9;
