@import '../token.scss';

.switch {
    width: 40px;
    display: inline-block;
    line-height: 20px;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s, background 0.5s;
    &.on {
        color: $color-dark;
        background-color: $color-light;
    }
    &.off {
        background-color: $color-dark;
        color: $color-light;
    }
}
